<section id= "doc_show" class= "wrapper_with_padding ">
    <h1 class="title"><%= @doc.title%></h1>
    
    <!--Returns text transformed into HTML using simple formatting rules.
    Two \n\n are considered as a paragraph and wrapped in <p>. One newline (\n)
    is considered as a linebreak and a <br /> tag is appended.-->
    
    <p><%= simple_format(@doc.content)%></p> 
    <div class ="buttons">
        <%= link_to "Fix Doc", edit_doc_path(@doc), class: "button"%>
        <%= link_to "Trash It", doc_path(@doc), method: :delete, data: {confirm: "Are you sure?" }, class: "button"%>
    </div>    
</section>